html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
    overflowY: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.en {
    display: none;
}
.center {
    text-align: center
}

#navDemo{
display:none;
}

.section {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 32px;
}
.section-gray {
    background-color: #afafaf;
    color: white;
}
.padding-sides {
    padding-left: 15%;
    padding-right: 15%;
}

.padding-sides-small {
    padding-left: 5%;
    padding-right: 5%;
}

.opacity{
    opacity: 0.60;
}
.hover-opacity-off:hover{
    opacity:1
}

.hover-text-green:hover{
    color:#4CAF50
}

.top-menu {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.top-menu-item{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.logo {
    width: 120px;
}

.w3-card .logo {
    width: 50px;
}

.banner-video {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.banner-video video {
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.banner-content .title{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.title-head{
    line-height: 9vw;
    font-size: 7vw;
    font-style: italic;
    letter-spacing: 20px;
}

.title-sub{
    font-size: 1vw;
    letter-spacing: 30px;
}

.scroll-down {
    position: absolute;
    height: 160px;
    width: 70px;
    bottom: 0px;
}
.scroll-down-img {
    width: 70px;
    position: absolute;
    display: none;
    opacity = 0.1;
}

.services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: .3rem;
    -webkit-box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    margin: 35px 0 15px;
}

.service-box video{
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
}

.service-box.image {
    background-image: url('../assets/sphere_thumb_pcim.webp');
    background-size: contain;
}

.service{
    text-align: center;
}

.inquiry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.inquiry-icon {
    margin: 0 50px;
}
.inquiry i{
        margin: 20px 0;
}

.inquiry-details {
    text-align: left;
}

.inquiry-details i {
    padding-right: 10px;
}
.drone-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    align-items: center;
}

.drone-img {
    width: 50%;
}

.blue {
    background: linear-gradient(to right, #33ccff 0%, #ff99cc00 100%);
}

.pink {
    background: linear-gradient(to right, #ff0066 0%, #ff99cc00 100%);
}

.drone-img img {
    width: 100%;
}

.drone-data{
    padding: 20px 20px 0 60px;
    flex-grow: 2;
}

.pilot-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 35px;
    justify-content: space-between;
}

.pilot-img {
    background: linear-gradient(to right, #33ccff00 0%, #ff0066 100%);
    width: 50%;
    padding-top: 30px;
    text-align: center;
}

.pilot-img img {
    max-height: 240px;
}

.pilot-data {
    padding: 20px;
}

.join-details i{
    padding-right: 10px;
}

.speres-embedded iframe {
    margin: 20px 0;
}

footer{
    background-color: #eaeaea;
}

@media only screen and (max-device-width: 1300px){
    .banner-video {
        height: 100%;
    }

    .banner-video video {
        height: 100%;
    }

    .scroll-down{
        bottom:0px;
    }

    .title-head{
        line-height: 14vw;
        font-size: 11vw;
        font-style: italic;
        letter-spacing: 14px;
    }

    .title-sub{
        font-size: 3vw;
        letter-spacing: 6px;
    }

    .drone-img {
        width: 100%;
    }

    .blue {
        background-color: #33ccff;
    }

    .pink {
        background-color: #ff4f8e;
    }

    .pilot-info {
        justify-content: center;
    }
    .pilot-img {
        width: 100%;
        background-color: #ff0066;
    }
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
}

.grey {
    background-color: #f8f8f8;
}
