html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
    overflowY: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 150px;
}

.w3-card .logo {
    width: 50px;
}

.banner-video {
    display: flex;
    background: darkblue;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.banner-video video {
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
}

.banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.banner-content .title{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.title-head{
    line-height: 9vw;
    font-size: 7vw;
    font-style: italic;
    letter-spacing: 20px;
}

.title-sub{
    font-size: 1vw;
    letter-spacing: 30px;
}


.scroll-down {
    position: absolute;
    height: 160px;
    width: 70px;
    bottom: 0px;
}
.scroll-down-img {
    width: 70px;
    position: absolute;
    display: none;
    opacity = 0.1;
}

.services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-box{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: .3rem;
    -webkit-box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    margin: 35px 0 15px;
}
.service-box video{
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
}
.service-box.image {
    background-image: url('../assets/sphere_thumb_pcim.jpg');
    background-size: contain;
}

.service{
    text-align: center;
}

.drone {
    height: 300px;
    background-color: #e3e3e2;
}

.drone img {
    width: 500px;
}


@media only screen and (max-device-width: 1300px){
    .banner-video {
        height: 100%;
    }

    .banner-video video {
        height: 100%;
    }

    .scroll-down{
        bottom:0px;
    }

    .title-head{
        line-height: 14vw;
        font-size: 11vw;
        font-style: italic;
        letter-spacing: 14px;
    }

    .title-sub{
        font-size: 3vw;
        letter-spacing: 6px;
    }

}
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
}

.grey {
    background-color: #f8f8f8;
}

